#Header{
    text-align: center;
    padding: 10px;
    font-family: 'Redressed', cursive;
    margin: 0;
    color: white;
    border-top:1px solid green ;
    background-color: rgba(0, 0, 0, 0.884);
}
#Header:hover{
    color: rgb(179, 245, 242);
    cursor: pointer;
}