.Card{
 background-color: rgba(0, 110, 255, 0.137);
 color: white;
 border-radius: 5px;
 text-align: center;
  margin-left: 10px;
  opacity: 2;
 box-shadow: -5px -5px 20px rgb(44, 44, 44);
}
.Flags{
    width: 90%;
    margin: 5%;
    height: 50%;
    border: 1px solid white;
    border-radius: 5px;
}

.DetailsButton{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    margin-top: 10px;
    padding-bottom: 2.5px;
    margin-bottom: 70px;
    font-weight: 500;
    border: 1.5px solid yellowgreen;
    border-radius: 50px;
    color: white;
    background-color: green;
}
.DetailsButton:hover{
    transition: all 0.5s ease;
    color: black;
    background-color: rgb(255, 255, 255);
}
.DetailsButton:active{
    color: red;
    background-color:yellow;
}